<div class="container">
    <h1>{{ page.title }}</h1>

    <ul class="sitemap" role="list">
        <li><a href="https://hedisfurniture.com/">Home </a></li>
        <li><a href="https://hedisfurniture.com/collections/living">Living</a></li>
        <li><a href="https://hedisfurniture.com/collections/dining">Dining</a></li>
        <li><a href="https://hedisfurniture.com/collections/bedroom">Bedroom</a></li>
        <li><a href="https://hedisfurniture.com/collections/outdoor">Outdoor</a></li>
        <li><a href="https://hedisfurniture.com/collections/lighting">Lighting</a> </li>
        <li><a href="https://hedisfurniture.com/collections/decor">Decor</a></li>
        <li> <a href="https://hedisfurniture.com/collections/rug">Rugs</a></li>
        <li> <a href="https://hedisfurniture.com/collections/office">Office </a></li>
        <li><a href="https://hedisfurniture.com/collections/office">Office</a></li>
        <li><a href="https://hedisfurniture.com/pages/contact">Design Services</a></li>
    </ul>
</div>

<style>

    .sitemap li a {
        color: #2d2d2d;
        text-decoration: none; /* Added text decoration */
    
    }

    .sitemap li  {
        list-style: none;
    }
</style>